nav {
display: flex;
justify-content: space-around;
align-items: center;
background: #5b5454;
color: #ffff;
}


.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.link_style{
    text-decoration: none;
    color: orange;
}